@media screen and (max-width: 768px) 
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        background-color:  rgb(16, 27, 46);
        display: flex;
    }

    p, h1, h2, label, a
    {
        color: aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /*splash screen*/

    /*arrumar para a imagem aparecer em cima do h1, igual no servicos*/

    /*fim splash screen*/

    /*página de servicos*/
    #servicos 
    {
        text-align: center;
        
    }
    
    #servicos ul 
    {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    
    #servicos li
    {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #servicos li button
    {
        height: 50px;
        width: 200px;
        background: #f4f4f4;
        border-radius: 5px;
    }

    #servicos li img
    {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    /*fim página de servicos*/
      
    /*página de login*/
    form 
    {
        float: right;  
        height: 94.4vh;
        width: 100%;
        padding: 25px 50px 25px 50px;
    }
    
    form .form-group 
    {
        margin-top: 15px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="date"]
    {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-group a
    {
        text-decoration: none;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: rgb(219, 182, 111); /*mudar a cor para a cor do site depois*/
    }
    
    /*fim página de login*/
}

