@media screen and (max-width: 768px) 
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        background-color:  rgb(16, 27, 46);
        display: flex;
    }

    #services 
    {
        text-align: center;
    }
    
    #services ul 
    {
        list-style-type: none;
        padding: 0;
    }
    
    #services li 
    {
        padding: 10px;
        background: #f4f4f4;
        margin: 5px 0;
        border-radius: 5px;
    }
      
}

